<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title><%= title %></title>
  </head>
  <body>
    <header>
      <!-- logo -->
      <a href="/" class="logo">
        Portfolio <span>LW</span><img height="30px" src="/images/OwlIcon.png" />
      </a>

      <!-- logo -->

      <!-- navigation bar -->
      <ul class="navbar">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/project">Projects</a></li>
        <li><a href="/service">Service</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/contacts/list">Business</a></li>

        <% if (user) { %>
        <li><a href="/users/logout">Sign Out (<%= user.username %>)</a></li>
        <% } else { %>
        <li class="dropdown">
          <a href="/users/login">Login</a>
          <div class="dropdown-content">
            <a href="/users/signup">Sign Up</a>
          </div>
        </li>
        <% } %>
      </ul>
      <!-- navigation bar -->
    </header>


