<!-- logo -->
<a href="/" class="logo">
  Portfolio <span>LW</span><img height="30px" src="/images/OwlIcon.png" />
</a>

<!-- logo -->

<!-- navigation bar -->
<ul class="navbar">
  <li><a href="/">Home</a></li>
  <li><a href="/about">About</a></li>
  <li><a href="/project">Projects</a></li>
  <li><a href="/service">Service</a></li>
  <li><a href="/contact">Contact</a></li>

  <% if (title == "Sign Out") { %>
  <li><a href="#">Sign Out (<%= user.username %>)</a></li>
  <% } else { %>
  <li class="dropdown">
    <a href="/users/login">Login</a>
    <div class="dropdown-content"><a href="/users/signup">Sign Up</a></div>
  </li>
  <% } %>
</ul>
<!-- navigation bar -->
