<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <h1><%= title %></h1>

  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About Me</a></li>
      <li><a href="/project">Projects</a></li>
      <li><a href="/service">Services</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>

