<!-- content page for about me -->
<!-- FIXME: bad practice!! make it work for now, as prioritizing with functions-->
<link rel="stylesheet" href="/stylesheets/about.css" />
<div class="about-me">
  <div class="image">
    <img src="/images/my-picture.png" />
  </div>
  <div class="about-me-introduction">
    <h1>About Me</h1>
    <p>
      My name is Fengting Wu, I also go by the name Lena. I am enrolled in Game
      - Programming at Centennial College and this is my third semester. I used
      to work as a translation project manager in China, before I decided to
      change careers and continue my education. I taught myself basics of
      JavaScript and C#. In my spare time, I enjoy playing video games, watching
      movies and cooking when I have time. Making games is the most appealing
      field to me, and I also prefer back-end development to front-end
      development. In the future, I would love to work in the IT related field -
      preferably in the gaming industry. I'm always looking for new
      opportunities to work on exciting projects and contribute to a great team.
      Despite that I am very busy with school and a part-time job, I am hoping
      that in my spare time, I will be able to develop some useful project of my
      own.
    </p>
    <a
      href="/images/Resume_Fengting_Wu_Feb_2023.pdf"
      class="button"
      target="_blank"
      >View My Resume</a
    >
  </div>
</div>
