<!-- content for contact me page-->

<link rel="stylesheet" href="/stylesheets/form.css" />
<div class="container">
  <div class="form-card">
    <form method="GET" action="/">
      <div class="form-group">
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" name="firstName" />
      </div>
      <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" name="lastName" />
      </div>
      <div class="form-group">
        <label for="phone">Phone:</label>
        <input type="tel" id="phone" name="phone" />
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" />
      </div>
      <div class="form-group">
        <label for="message">Message:</label>
        <textarea id="message" name="message"></textarea>
      </div>
      <div class="form-group">
        <button type="submit">Send</button>
      </div>
    </form>
  </div>
  <div class="info-card">
    <h2>Connect with me</h2>
    <p>Email: fwu27@my.centennialcollege.ca</p>
    <p>Phone: 647-465-8188</p>
    <p>GitHub: <a href="github.com/lenafwu/">github.com/lenafwu/</a></p>
    <p>
      LinkedIn:
      <a href="https://www.linkedin.com/in/fengting-wu/"
        >linkedin.com/in/fengting-wu/</a
      >
    </p>
  </div>
</div>
