<!-- Content for Home Page -->
<div class="content">
  <div class="main">
    <div class="description">
      <h1>Welcome to <span>Lena</span>'s Personal Website</h1>
      <p>
        Thank you for visiting my website. Feel free to explore and learn more
        about me and my projects.
      </p>
      <a href="/about" class="button">About Me</a>
    </div>
    <div class="image">
      <img src="/images/my-picture.png" alt="picture of Lena Wu" />
    </div>
  </div>
</div>
