<!-- content for service page -->
<link rel="stylesheet" href="/stylesheets/service.css" />
<main>
  <h1>My Services</h1>
  <ul class="service-list">
    <li class="service-item">
      <h2>Web Development</h2>
    </li>
    <li class="service-item">
      <h2>2D & 3D Model Design</h2>
    </li>
    <li class="service-item">
      <h2>Animation</h2>
    </li>
    <li class="service-item">
      <h2>Game Programming</h2>
    </li>
    <li class="service-item">
      <h2>General Programming</h2>
    </li>
  </ul>
</main>
