<!DOCTYPE html>
<html>
  <head>
    <title>Fengting Wu's Website</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header><%- include('partials/header'); %></header>
    <p><%= title %></p>
  </body>
</html>
