/* 
style.css
Author: Fengting Wu
Student #: 301264494
Date: June 10, 2023
*/

/* Color variables */

:root {
  --primary-color: #8e44ad;
  --secondary-color: #d7bde2;
  --darkend-color: #673ab7;
  --text-color: #333;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/* Main Body  */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 60px);
}

/* Main Section */

.main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.description {
  width: 60%;
  margin-right: 20px;
}

/* Image Section */

.image {
  width: 40%;
  text-align: right;
  margin-left: 20px;
}

.image img {
  max-width: 100%;
  border-radius: 50%;
}

/* Header Section */

header {
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
}

/*  Footer Section  */

footer {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 0;
  font-size: 14px;
}

.header {
  background-color: var(--primary-color);
  padding: 10px;
}

.logo {
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
}

.logo span {
  color: var(--secondary-color);
}

.logo img {
  vertical-align: middle;
  margin-left: 5px;
}

/* Navigation Bar */

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.navbar li {
  display: inline-block;
  padding: 10px 20px;
  position: relative;
}

.navbar li a {
  color: rgb(212, 212, 212);
  text-decoration: none;
  display: block;
}

.navbar li a:hover {
  color: rgb(255, 255, 255);
  border-radius: 4px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%; /* Position below the li */
  left: 0;
  min-width: 100%;
  /* background-color: var(--darkend-color);*/
  border-radius: 4px;
}

.dropdown-content a {
  color: blue !important; /* otherwise it is somehow still white*/
  padding: 15px 5px; /* Same as navbar links */
  display: block;
  text-decoration: underline !important;
}

.dropdown:hover .dropdown-content {
  display: block;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

h1 span {
  color: var(--primary-color);
}

p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 40px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: var(--darkend-color);
}

/* Contact List Page */

.table-container {
  overflow-x: auto;
}

.contact-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.contact-table thead th {
  border-bottom: 2px solid var(--primary-color);
  padding: 10px;
  text-align: left;
}

.contact-table tbody td {
  padding: 10px;
  text-align: left;
}

.add-button {
  background-color: var(--secondary-color);
  margin-bottom: 10px;
}

.edit-button {
  background-color: var(--darkend-color);
  margin-right: 10px;
}

.delete-button {
  background-color: red;
}

.delete-form {
  display: inline;
}
